body {
  background-color: #202020;
  color:white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bebas Neue', sans-serif;
}

.btn.dropdown-toggle  {
  width:150px;
  text-align:left;
}

span.caret {
  position: absolute;
  left: 90%;
  top: 45%;
}

label {
  padding-top:5px;
}

.form-label {
  padding-left:0px !important;
}



.btn-success {
  background-color: #3b7d4a!important;
}

.btn-success:hover {
  background-color: #4daf64!important;
}

img.track {
  border: 1px solid #8a8a8a;
}

#spotify-banner {
  background-color: black;
}

#spotify-logo {
  margin-left: 30px;
}

.header {
  margin-top: 30px;
}

.highlighted {
  background-color: #006060;
  border: 2px solid #007bff;
  border-radius: 5px; /* rounded corners */
}

.artist-list .list-group-item {
  color: white;
  background-color: #404040;
}

.album-list .list-group-item {
  color: white;
  background-color: #404040;
}

.song-list .list-group-item {
  color: white;
  background-color: #404040;
}

#song-detail {
  font-weight: bold;
}
